javaee-tutorial/examples/jaxrs/customer/src/conf/xml-resources/jaxb/CustomerBinding/Customer.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://xml.customer" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           xmlns:ora="http://xml.customer">

    <xs:element name="customer" type="ora:CustomerType" />
        
    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string" />
            <xs:element name="city" type="xs:string" />
            <xs:element name="country" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
